.statistics {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    text-align: center;
    
}

.statList{
    display: flex;
    padding-left: 0;
    list-style-type: none;
    font-size: 20px;
}

.statList > li {
    padding: 10px;
}